.navbar__left {
    .navbar__left_dropdownToggle {
        background-color: #cf857e;
        padding: 30px;
        font-weight: 600;
    }

    .navbar__left_dropdown_menu {
        li {
            width: 100%;
            padding: 8px 30px;
            border-left: 2px solid #EDF1FF;
            border-right: 2px solid #EDF1FF;
            border-bottom: 2px solid #EDF1FF;

            .sub_link p {
                text-align: start;
            }
        }

        .sub_link:hover p {
            color: #cf857e;
            font-weight: 600;
        }

    }

}


.body_top {
    margin-top: 20px;

    .body__top_container {
        width: 100%;
        max-width: 1200px;
        margin: 0 auto;

        .services__section {
            border: 1px solid #dce3e5;
            padding: 20px;
            width: 100%;
            background-color: #ffffff;
            border-radius: 12px;

            @media(min-width: 1024px) {
                position: relative;
                margin-top: -60px;
                z-index: 10;
                padding: 30px;
                box-shadow: 0 10px 25px -5px rgba(0, 0, 0, 0.05);
            }

            .services__section_container {
                justify-content: center;
            }
        }

        .categoriesProduct__section {
            margin-top: 30px;
            border: 1px solid #dce3e5;
            background-color: #ffffff;
            border-radius: 12px;
            overflow: hidden;
        }
    }
}

.banner {
    margin-top: 40px;
}

.hotdeal_products {
    margin-top: 40px;
    background-color: #f8fbfc;

    .hotdeal_products_container {
        border: 1px solid #dce3e5;
        border-radius: 12px;
        overflow: hidden;
        .hotdeal_title {
            font-size: 1.2rem;
            font-weight: 600;
            padding: 1rem;
            .seemore {
                font-size: 1rem;
                color: #0573f0;
                padding-left: 0.7rem;
                font-weight: 600;
            }
        }
    }
}

.elements {
    margin-top: 40px;
    background-color: #f8fbfc;
    .elements_container {
        li {
            position: relative;
            padding: 24px;            
            border: 1px solid #dce3e5;
            border-radius: 12px;
            overflow: hidden;
            
            .element_image {
                position: absolute;
                right: 16px;
                bottom: 16px;
                max-width: 120px;
                img {
                    width: 100%;
                    height: auto;
                    object-fit: contain;
                }
            }
        }
        .headphone {
            background-color: #f2f2f6;
        }
        .grooming {
            background-color: #e9ebed;
        }
        .game {
            background-color: #fbedc7;
        }
    }
}