.footer{
    border-top: 1px solid #dce3e5;
    .top_footer{
        
        .top_footer_container{
            
            li{
                white-space: nowrap;
                color: #5774e9
            }
            .header_title{
                font-weight: 600;
                font-size: 1.5rem;
                padding-bottom: 1.5rem;
            }
        }
    }

    .bottom_footer{
        background-color: #2b323e;
        padding: 50px  0;
        .bottom_footer_container{
            
            .text{
                font-size: 0.7em;
                color: #607385;
            }
        }
    }
}