.footer {
  border-top: 1px solid #dce3e5;
  background-color: #ffffff;

  .top_footer {
    background-color: #ffffff;
  }

  .bottom_footer {
    background-color: #2b323e;
    border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
}