.body {
    .top_body {
        padding: 0 1rem;

        .top_body_container {

            .detail_image {
                .product_images_container {
                    width: 100%;
                    max-width: 600px;
                    margin: 0 auto;

                    img {
                        width: 100%;
                        display: block;
                    }

                    .image_display {
                        overflow: hidden;

                        .image_showcase {
                            display: flex;
                            flex-direction: row;
                            width: 100%;
                            transition: all 0.5s ease;

                            img {
                                min-width: 100%;
                            }
                        }
                    }

                    .image_select {
                        display: flex;
                        flex-direction: row;

                        .image_item {
                            margin: 0.3rem;

                            &:hover {
                                cursor: pointer;
                                opacity: 0.8;
                            }
                        }

                    }
                }

            }
        }
    }
    .relate_product {
        .relate_product_container {
            width: 100%;
            max-width: 1200px;
            margin: 0 auto;
            padding: 0 1rem;
        }
    }
}